<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Panappta.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Panappta.Properties.Settings>
            <setting name="PanoptaEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UptimeRobotEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WindowStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckUpdates" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PanoptaInterval" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="UptimeRobotInterval" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="AlertInterval" serializeAs="String">
                <value>1</value>
            </setting>
        </Panappta.Properties.Settings>
    </userSettings>
</configuration>